<h1 [ngStyle]="titleStyle">Bienvenue sur {{heroes.length }} héros, {{ username }}</h1>



<p>
  <label for="InputUsername">Votre nom <input id="InputUsername" type="text" name="na me"
      [(ngModel)]="username"></label>
</p>

<ul>
  <li *ngFor="let hero of heroes">{{hero}}<small *ngIf="hero == username"> Le BIG BOSS</small> </li>
</ul>

<label for="InputHeroName">Héros à ajouter : <input type="text" name="nameOfTheHero" id="InputHeroName"
    [(ngModel)]="heroToAdd"></label>
<button (click)="addHero()">Ajouter un héros</button>